body{
    background-color: blue;
}

section{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}
article{
    font-size: medium;
}
.centerImage{
    display: flex;
    justify-content: center;
}

